.container {
  width: 100%;
  flex-direction: column;
  row-gap: 20px;
  padding: 50px 10%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_title {
  font-size: 40px;
  font-weight: 200;
}

.form {
  width: 100%;
  padding: 30%;
  background-color: rgb(238, 209, 209);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
}

.inp {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  text-indent: 20px;
  border: none;
  box-shadow: 0 0 2px solid gray;
  outline: none;
  transition: 0.3s;
}

.inp:focus {
  box-shadow: 0 0 5px skyblue;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: rgb(78, 177, 35);
  padding: 15px 50px;
  color: white;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewBtn {
  color: rgb(8, 108, 158);
  font-size: 40px;
}
